name: terraform Deployment

on:  
 workflow_dispatch:
   
jobs: 
  terraform:
    runs-on: ubuntu-latest 

    steps:
    - name: checkout repository
      uses: actions/checkout@v3 

    - name: aws credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-region: us-east-1
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    - name: set up terraform  
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: "1.4.0" 
        
    - name: Terraform Init
      run: terraform init
      
    - name: Terraform plan
      run: terraform plan -out=tfplan
      
    - name: Terraform Apply
      run: terraform apply -auto-approve tfplan

    - name: Terraform Destroy
      run: terraform destroy -auto-approve
